* {
  box-sizing: border-box; }

body {
  background-color: #f1f1f1;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

.card-wrapper {
  display: inline-block;
  margin: 10px 20px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000; }
  .card-wrapper, .card-wrapper .card {
    width: 250px;
    height: 250px; }
  .card-wrapper .card {
    position: relative;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .card-wrapper .card h2 {
      margin: 5px 0;
      text-align: center; }
    .card-wrapper .card .front, .card-wrapper .card .back {
      position: absolute;
      padding: 2px 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
    .card-wrapper .card .front {
      color: #484848;
      background-color: white;
      border: 1px solid #d9d9d9;
      z-index: 2; }
      .card-wrapper .card .front img {
        width: 228px;
        height: 190px; }
    .card-wrapper .card .back {
      color: khaki;
      background: #3d3d3d;
      border: 1px solid #282828; }
      .card-wrapper .card .back h2 {
        color: #8bd0ec; }
  .card-wrapper .card .back, .card-wrapper.flip-right .card .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card-wrapper:hover .card, .card-wrapper.flip-right:hover .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card-wrapper.flip-left .card .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card-wrapper.flip-left:hover .card {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card-wrapper.flip-up .card {
    -webkit-transform-origin: 50% 100% 50%;
    -moz-transform-origin: 50% 100% 50%;
    -ms-transform-origin: 50% 100% 50%;
    -o-transform-origin: 50% 100% 50%;
    transform-origin: 50% 100% 50%; }
    .card-wrapper.flip-up .card .back {
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      transform: rotateX(180deg); }
  .card-wrapper.flip-up:hover .card {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .card-wrapper.flip-down .card {
    -webkit-transform-origin: 100% 50% 50%;
    -moz-transform-origin: 100% 50% 50%;
    -ms-transform-origin: 100% 50% 50%;
    -o-transform-origin: 100% 50% 50%;
    transform-origin: 100% 50% 50%; }
    .card-wrapper.flip-down .card .back {
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      -o-transform: rotateX(-180deg);
      transform: rotateX(-180deg); }
  .card-wrapper.flip-down:hover .card {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg); }
  .card-wrapper.flip-diagonal-right .card {
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }
    .card-wrapper.flip-diagonal-right .card .back {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
      -moz-transform: rotate3d(1, 1, 0, 180deg);
      -ms-transform: rotate3d(1, 1, 0, 180deg);
      -o-transform: rotate3d(1, 1, 0, 180deg);
      transform: rotate3d(1, 1, 0, 180deg); }
  .card-wrapper.flip-diagonal-right:hover .card {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
    -moz-transform: rotate3d(1, 1, 0, 180deg);
    -ms-transform: rotate3d(1, 1, 0, 180deg);
    -o-transform: rotate3d(1, 1, 0, 180deg);
    transform: rotate3d(1, 1, 0, 180deg); }
  .card-wrapper.flip-diagonal-left .card {
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }
    .card-wrapper.flip-diagonal-left .card .back {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
      -moz-transform: rotate3d(1, 1, 0, -180deg);
      -ms-transform: rotate3d(1, 1, 0, -180deg);
      -o-transform: rotate3d(1, 1, 0, -180deg);
      transform: rotate3d(1, 1, 0, -180deg); }
  .card-wrapper.flip-diagonal-left:hover .card {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    -moz-transform: rotate3d(1, 1, 0, -180deg);
    -ms-transform: rotate3d(1, 1, 0, -180deg);
    -o-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg); }
  .card-wrapper.flip-inverted-diagonal-right .card {
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }
    .card-wrapper.flip-inverted-diagonal-right .card .back {
      -webkit-transform: rotate3d(-1, 1, 0, 180deg);
      -moz-transform: rotate3d(-1, 1, 0, 180deg);
      -ms-transform: rotate3d(-1, 1, 0, 180deg);
      -o-transform: rotate3d(-1, 1, 0, 180deg);
      transform: rotate3d(-1, 1, 0, 180deg); }
  .card-wrapper.flip-inverted-diagonal-right:hover .card {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
    -moz-transform: rotate3d(-1, 1, 0, 180deg);
    -ms-transform: rotate3d(-1, 1, 0, 180deg);
    -o-transform: rotate3d(-1, 1, 0, 180deg);
    transform: rotate3d(-1, 1, 0, 180deg); }
  .card-wrapper.flip-inverted-diagonal-left .card {
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }
    .card-wrapper.flip-inverted-diagonal-left .card .back {
      -webkit-transform: rotate3d(1, -1, 0, 180deg);
      -moz-transform: rotate3d(1, -1, 0, 180deg);
      -ms-transform: rotate3d(1, -1, 0, 180deg);
      -o-transform: rotate3d(1, -1, 0, 180deg);
      transform: rotate3d(1, -1, 0, 180deg); }
  .card-wrapper.flip-inverted-diagonal-left:hover .card {
    -webkit-transform: rotate3d(1, -1, 0, 180deg);
    -moz-transform: rotate3d(1, -1, 0, 180deg);
    -ms-transform: rotate3d(1, -1, 0, 180deg);
    -o-transform: rotate3d(1, -1, 0, 180deg);
    transform: rotate3d(1, -1, 0, 180deg); }
